{% extends "base.html" %}
{% block title %}Подробнее о блюде{% endblock %}
{% block header %}Блюдо с id {{ dish.id }}, {{ dish.name }}{% endblock %}
{% block content %}

    <p>
        Рецепт: {{ dish.recipe }} <br>
        Комментарий: {{ dish.comments }}
    </p>

    <a href="{% url 'dish-update' dish.id %}" class="btn btn-warning">Изменить блюдо</a> 
    <hr>
    <h3>Ингредиенты:</h3>
    
    {% for ingredient in ingredients %}
    <ul class="list-group">
        <li class="list-group-item">
            {{ ingredient.product }} - {{ ingredient.amount }} {{ ingredient.measure_scale.shortname }}  
            <a href="{% url 'ingredient-update' ingredient.id %}" class="btn btn-warning">Изменить</a> 
            <a href="{% url 'ingredient-delete' ingredient.id %}" class="btn btn-danger">Удалить</a> 
        </li>
    </ul>
    {% endfor %}
    <br>

    <a href="{% url 'ingredient-new' dish.id %}" class="btn btn-warning">Добавить ингредиент</a> <br> <br>

    <a href="{% url 'dish-main' %}" class="btn btn-primary">На главную</a>

{% endblock %}