{% extends "base.html" %}
{% block title %}Страница блюд{% endblock %}
{% block header %}Последние добавленные блюда на сайте{% endblock %}
{% block content %}

    <div class="card-columns">
    {% for dish in dishes %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                Наименование: {{ dish.name }}
            </h3>
            <p class="card-text">
                Рецепт: {{ dish.recipe }} <br>
                Комментарий: {% if dish.comments %} {{ dish.comments }} {% else %} - {% endif %}
            </p>
            <a href="{% url 'dish-detail' dish.id %}" class="btn btn-info">Просмотреть блюдо</a> <br> <br>
            <a href="{% url 'dish-delete' dish.id %}" class="btn btn-danger">Удалить блюдо</a>
        </div>
    </div>
    {% endfor %}
    </div>

    <form action="{% url 'dish-new' %}">
        <br>
        <button class="btn btn-primary">
            Добавить новое блюдо
        </button>
    </form>

{% endblock %}