{% extends "base.html" %}
{% block title %}Удаление приема пищи{% endblock %}
{% block header %}Удаление приема пищи{% endblock %}
{% block content %}

    <h3>
        Вы уверены, что хотите удалить прием пищи с id {{ dish.id }}, {{ dish.name }}?
    </h3>

    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Удалить данные о приеме пищи</button>
    </form>

    <br>

    <a href="{% url 'dish-detail' dish.id %}" class="btn btn-warning">Обратно к приему пищи</a>
    <a href="{% url 'dish-main' %}" class="btn btn-primary">На главную</a>

{% endblock %}