{% extends "base.html" %}
{% block title %}Подробнее о приеме пищи{% endblock %}
{% block header %}Прием пищи с id {{ meal.id }} {% endblock %}
{% block content %}
    <p>
        Подходящий тип: {{ meal.get_type_of_meal_display }} <br>
        Комментарий: {{ meal.comments }}
    </p>
    <hr>
    <h3>Блюда:</h3>
    <!--
    {% for ingredient in ingredients %}
    <ul class="list-group">
        <li class="list-group-item">
            {{ ingredient.product }} - {{ ingredient.amount }} {{ ingredient.measure_scale.shortname }}  
            <a href="{% url 'ingredient-update' ingredient.id %}" class="btn btn-warning">Изменить</a> 
            <a href="{% url 'ingredient-delete' ingredient.id %}" class="btn btn-danger">Удалить</a> 
        </li>
    </ul>
    {% endfor %}
    <br>

    <a href="{% url 'ingredient-new' 5 %}" class="btn btn-warning">Добавить блюдо</a> <br> <br>
    -->
    <a href="{% url 'meal-main' %}" class="btn btn-primary">На главную</a>

{% endblock %}