{% extends "base.html" %}
{% block title %}Генерация меню{% endblock %}
{% block header %}Готовое меню{% endblock %}
{% block content %}

    <h3> Клиент {{ client.id }} с именем {{ client.full_name }} </h3> 

    <h4> Физ данные </h4>
    <p>
        Пол - 
        {% if client.sex %}
        Мужчина
        {% else %}
        Женщина
        {% endif %}
        <br>
        Рост - {{ client.height }} <br>
        Вес - {{ client.weight }}
    </p>

    <h4> Предпочтения в меню </h4> 
    <p>
        Цель диеты - {{ client.type_diet }} <br>
        Cпорта в неделю - {{ client.sport_on_week }} <br>
        Дней в неделю без соблюдения диеты {{ client.no_eats_days_per_week }} <br>
        Приемов пищи в день {{ client.eats_per_day }}
    </p>

    <hr>

    <h3> Сгенерированное меню: {{ menu.id }} с именем "{{ menu.name }}" </h3> 

    <h4> Детали меню </h4> 
    <p>
        Тип диеты - {{ menu.general.type }} <br>
        Дней в неделю без соблюдения диеты - {{ menu.general.no_eats_day }} <br>
        Приемов пищи в день - {{ menu.general.eats_per_day }} <br>

        <h5> Все продукты в меню: </h5> 
        {% for field in menu.general.all_products %}
        <ul class="list-group">
            <li class="list-group-item">{{ field }}</li>
        </ul>
        {% endfor %}

    </p>

    <a href="{% url 'client-main' %}" class="btn btn-primary">На главную</a>
    <a href="{% url 'client-detail' client.id %}" class="btn btn-warning">Обратно к клиенту</a>

{% endblock %}